body {
  margin: 0;
  padding: 0;
}

canvas {
  border: 1px solid #000000;
  position: relative;
  background: white;
  transform-origin: left top;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}