html, body {
    height:   100%;
    margin:   0;
    overflow: hidden;
    padding:  0;
    width:    100%;
}

canvas {
    height:  100%;
    margin:  0;
    padding: 0;
    width:   100%;
}

#particles-js {
    height:         100%;
    pointer-events: none;
    position:       absolute;
    width:          100%;
}

#viseur {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}