body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  position: relative;
  background: white;
  transform-origin: left top;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}