body {
  margin: 0;
  padding: 0;
}

canvas {
  background:       white;
  image-rendering:  -moz-crisp-edges;
  image-rendering:  -webkit-crisp-edges;
  image-rendering:  pixelated;
  position:         relative;
  transform-origin: left top;
}